---
import "../styles/global.css"

const { title = "Society for Ancient Greek Philosophy" } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>{title}</title>
</head>
<body>
  <header class="site-header">
    <a class="brand" href={import.meta.env.BASE_URL}>
        <img src={`${import.meta.env.BASE_URL}/assets/sagp-logo.png`} alt="SAGP" />
    </a>

    <nav>
      <a href={import.meta.env.BASE_URL}>Home</a>
      <a href={`${import.meta.env.BASE_URL}/who-we-are/`}>Who We Are</a>
      <a href={`${import.meta.env.BASE_URL}/events/`}>Events</a>
      <a href={`${import.meta.env.BASE_URL}/membership/`}>Membership</a>
      <a href={`${import.meta.env.BASE_URL}/contact/`}>Contact</a>
    </nav>
  </header>

  <main>
    <slot />
  </main>
</body>
</html>
